extends layout

block content
  h1 悍客智能体温计管理平台
  
  #createTodo
    form(action='/todos', method='POST')
      .form-group      
        input.btn.btn-default(type='submit', value='导出数据')

  h2 体温计设备列表

  #errMsg
    if errMsg
      pre= errMsg

  div
    table.table
      thead
        colgroup
          col.col-xs-10
          col.col-xs-1
          col.col-xs-1
        tr
          th 设备序列号
          th 时间
      each todo in todos
        tr
          td=todo.get('device_code')
          td= todo.get('datetime')
