extends layout

block content
  h1 悍客智能体温计管理平台
  

  h2 体温计设备列表
  form(name="search", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
  

  div
    table.table
      thead
        colgroup
          col.col-xs-10
          col.col-xs-1
          col.col-xs-1
        tr
          th 设备序列号
          th 时间
      each todo in todos
        tr
          td=todo.get('device_code')
          td= todo.get('datetime')
